.App {
  font-family: sans-serif;
  text-align: center;
  margin: -2rem;
  padding: 8rem;
  background-color: beige;
}
.title {
  font-size: 2rem;
  font-weight: 750;
}
.selectionTabs {
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  background-color: rgb(243, 79, 14);
  font-size: 1rem;
  border-radius: 1rem;
}
.list {
  padding: 2rem;
  margin: 1rem;
  background-color: burlywood;
  color: black;
  list-style-type: none;
  text-align: left;
  padding-inline-start: 2rem;
  border-radius: 1rem;
}
